* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background: black;
}
#c {
  display: block;
  width: 100vw;
  height: 100vh;
}
#ccc {
  display: flex;
  position: absolute;
  /* background-color: black; */
  display: block;
  width: 100vw;
  height: 100vh;
}
#div {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(3.png)  0/cover no-repeat;
  animation: animate 6s linear  ;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
